---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["accordion-wrapper", className]}>
    <slot />
</div>

<style>
    .accordion-wrapper { border-top: var(--stroke-weight) solid var(--stroke-heavy); }
</style>
