---
interface Props {
    type?: 'do' | 'dont';
    rule: string;
}

const { type = 'do', rule } = Astro.props;
---

<div class:list={["do-dont-wrapper", { dont: type === 'dont' }]}>
    <span class="micro-data lbl-lead">{`RULE: ${rule}`}</span>
    <slot />
</div>

<style>
    .do-dont-wrapper {
        background: rgba(15, 12, 41, 0.02); padding: var(--space-6); height: 100%;
        border: var(--stroke-weight) solid var(--stroke-color); display: flex; flex-direction: column; gap: var(--space-2);
    }
    .do-dont-wrapper.dont { opacity: 0.5; }
</style>
