---

---

<div class="table-wrapper">
    <table class="system-table">
        <slot />
    </table>
</div>

<style>
    .table-wrapper { width: 100%; overflow-x: auto; border-top: 2px solid var(--ink); border-bottom: 2px solid var(--ink); }
    .system-table { width: 100%; border-collapse: collapse; text-align: left; }
    .system-table :global(th),
    .system-table :global(td) { padding: var(--space-2) var(--space-3); border-bottom: var(--stroke-weight) solid var(--stroke-color); border-right: var(--stroke-weight) solid var(--stroke-color); }
    .system-table :global(th:last-child),
    .system-table :global(td:last-child) { border-right: none; }
    .system-table :global(tr:last-child td) { border-bottom: none; }
    .system-table :global(th) { font-family: var(--font-tech); font-size: var(--step--1); font-weight: 500; text-transform: uppercase; letter-spacing: 0.05em; color: var(--ink); background: rgba(15, 12, 41, 0.02); border-bottom: var(--stroke-weight) solid var(--ink);}
    .system-table :global(td) { font-family: var(--font-tech); font-size: var(--step--1); font-weight: 300; text-transform: uppercase; letter-spacing: 0.02em; color: var(--ink-muted); }
</style>
