<!doctype html>
<html>
  <head>
    <title>All the embeds</title>
    <meta charset="UTF-8" />

    <!-- Outseta Configuration -->
    <script>
      var o_options = {
        domain: "snippets.outseta.com",
        load: "support,nocode",
        auth: {
          // Only because I use this testing account
          // for multiple demos and need to override
          // the Post Login Url configured in Outseta.
          authenticationCallbackUrl: window.location.origin,
          registrationConfirmationUrl: window.location.origin,
        },
      };

      var o_options = {
        domain: "costallocationpro.outseta.com",
        load: "auth,customForm,emailList,leadCapture,nocode,profile,support",
        support: {
          selector: 'a[href="https://costallocationpro.outseta.com/support/kb"]',
        },
      };
    </script>

    <!-- Outseta External Script -->
    <script src="https://cdn.outseta.com/outseta.min.js" data-options="o_options"></script>
  </head>

  <body>
    <main>
      <h1>Suppport</h1>

      <div>
        <section>
          <h2>Popup Button - data attributes</h2>
          <pre>
          <code>
&lt;button 
  data-o-support="1"
  data-mode="popup"
&gt;
  Submit Ticket Button
&lt;/button&gt;
          </code>
        </pre>
          <button data-o-support="1" data-mode="popup">Submit Ticket Button</button>
        </section>

        <section>
          <h2>Popup Button - code</h2>
          <pre>
          <code>
&lt;button onClick="Outseta.support.open({mode: 'popup'})"&gt;
  Submit Ticket Button
&lt;/button&gt;
          </code>
        </pre>
          <button onClick="Outseta.support.open({mode: 'popup'})">Submit Ticket Button</button>
        </section>

        <section>
          <h2>Popup Link</h2>
          <pre>
          <code>
&lt;a href=&quot;https://snippets.outseta.com/support/kb&quot;
  Submit Ticket Link
&lt;/a&gt;
          </code>
        </pre>
          <a href="https://snippets.outseta.com/support/kb">Submit Ticket Link</a>
        </section>

        <section>
          <h2>On Page Embed - data attributes</h2>
          <pre>
          <code>
&lt;div 
  data-o-support="1"
  data-mode="embed"
/&gt;           
          </code>
        </pre>
          <div data-o-support="1" data-mode="embed" />
        </section>
      </div>
    </main>
  </body>
</html>
